<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <title>Cadastro de Clientes</title>
</head>
<body>
      <ul id="lista-clientes"></ul>


    <h1>Cadastrar Clientes</h1>
    <form id="cliente-form">
    <label>Nome: <input type="text" id="nome" required></label><br>
    <label>Email: <input type="email" id="email" required></label><br>
    <label>Telefone: <input type="text" id="telefone" required></label><br>
    <label>Endereço: <input type="text" id="endereco" required></label><br>
    <button type="submit">Cadastrar</button>
  </form>

  <p id="mensagem"></p>
  <script src="script/index.js"></script>
</body>
</html>